{% load static %}
<!DOCTYPE html>
<html class="overflow-x-hidden" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content=" LetAndrewCook " name="Description">
    <title>LetAndrewCook</title>
    <link rel="icon" href="{% static 'website/images/cool-glasses.png' %}">
    <link rel="stylesheet" href="{% static 'website/css/output.css' %}">
    {% block adheader %}
    {% endblock %}
</head>
<body>
    <header id="site-header" class="bg-gray-700 sm:flex sm:justify-between sm:px-4 sm:py-3 sm:items-center">
        <div class="px-4 py-3 flex items-center justify-between sm:p-0">
            <div class="text-2xl">
                <a href="/" class="">
                    <span class="text-gray-300 inline-block">Let</span>
                    <span class="text-orange-400 inline-block">AndrewCook</span>
                    <span class="text-gray-300 inline-block">.com</span>
                </a>
            </div>
            <div class="sm:hidden">
                <button onclick="toggleVisibility('links')" class="px-3 py-2 border rounded text-gray-200 border-gray-500 hover:text-white hover:border-white">
                    <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                </button>
            </div>
        </div>
        <div id="links" class="text-gray-200 px-2 pt-2 pb-4 hidden sm:flex sm:p-0">
            <a class = "block px-2 py-1 text-white font-semibold hover:bg-gray-600 rounded" href={% url 'welcome' %}>home</a>
            <a class = "block px-2 py-1 mt-1 text-white font-semibold hover:bg-gray-600 rounded sm:mt-0 sm:ml-2" href={% url 'startGame' %}>tictactoe</a>
            <a class = "block px-2 py-1 mt-1 text-white font-semibold hover:bg-gray-600 rounded sm:mt-0 sm:ml-2" href={% url 'resume' %}>resume</a>
            <a class = "block px-2 py-1 mt-1 text-white font-semibold hover:bg-gray-600 rounded sm:mt-0 sm:ml-2" href={% url 'contact' %}>contact</a>
            <a class="block px-2 py-1 mt-1 rounded sm:mt-0 sm:ml-2 hover:bg-gray-600" target="_blank" href='https://github.com/cookster9/personal-site'>
                <img class="w-5 m-auto" src="{% static 'website/images/github-mark-white.png' %}">
              </a>
        </div>
    </header>
    {% block content %}
        document.write('Content goes here');
    {% endblock %}
<footer class="text-xs px-4">
    <p>&copy; 2024 Andrew Cook. All rights reserved.</p>
    <a href="https://www.flaticon.com/free-icons/cool-glasses" title="cool-glasses icons">Cool-glasses icons created by abdanbagus - Flaticon</a>
</footer>
</body>
<script>
    function toggleVisibility(elementId) {
        const element = document.getElementById(elementId);
        if (element) {
            element.classList.toggle('hidden');
        } else {
            console.error(`Element with ID "${elementId}" not found.`);
        }
    }
    
</script>
{% block scripts %}
{% endblock %}
</html>
