{% extends "website/base.html" %}
{% load static %}
{% block content %}
<div class="welcome">
    <div class="welcome-top-row">
      <div class="welcome-top-text">
        <h1>
            Welcome to my website!
        </h1>
          <p>
              I made this site to display a resume, show off some of my web apps, and generally try out making a website.
              This site is running on django with an Apache web server using AWS Lightsail servers.
          </p>
      </div>
      <div class="welcome-top-image">
            <img src="{% static 'website/images/cool-glasses.png' %}" alt="coolcat">
      </div>
    </div>
    <div class="welcome-bottom-row third-background">
        <div class="welcome-job-grid">

            <div class="welcome-job-button h2" id="data-eng">
                <span>Data Engineering</span>
            </div>

            <div class="welcome-job-button h2" id="tech-prob-solve">
                <span>Technical Problem Solving</span>
            </div>

            <div class="welcome-job-button h2" id="cloud-eng">
                <span>Cloud Engineering</span>
            </div>

            <div class="welcome-job-button h2" id="cyber-sec">
                <span>Cyber Security</span>
            </div>

        </div>
    </div>
    <div id="deModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>This is my data engineering experience</p>
      </div>

    </div>
    <div id="tsModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>This is my technical solutions engineering experience</p>
      </div>

    </div>
    <div id="csModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>This is my cybersecurity experience</p>
      </div>

    </div>
    <div id="ceModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>This is my cloud engineering experience</p>
      </div>

    </div>
</div>
{% endblock %}
{% block scripts %}
<script src = "{% static 'website/js/modal.js' %}">
</script>
{% endblock %}