{% extends "website/base.html" %}
{% load static %}
{% block content %}
<div class="welcome">
    <div class="welcome-top-row">
      <div class="welcome-top-text">
        <h1>
            Welcome to my website!
        </h1>
          <p>
              I made this site to display a resume, show off some of my web apps, and generally try out making a website.
              This site is running on django with an Apache web server using AWS Lightsail servers.
          </p>
      </div>
      <div class="welcome-top-image">
            <img src="{% static 'website/images/cool-glasses.png' %}" alt="coolcat">
      </div>
    </div>
    <div class="welcome-bottom-row third-background">
        <div class="welcome-job-grid">
            {% for modal in modals %}
            <div class="welcome-job-button h2" id={{ modal.id }}>
                <span>{{ modal.title }}</span>
            </div>
            {% endfor %}
        </div>
    </div>

    {% for modal in modals %}
        <div id="modal{{ modal.id }}" class="modal {{ modal.id }}">
          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <p>{{modal.content}}</p>
          </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
{% block scripts %}
<script src = "{% static 'website/js/modal.js' %}">
</script>
{% endblock %}