asgiref==3.8.1
cffi==1.17.1
cryptography==44.0.0
Django==5.1.4
django-tictactoe-htmx @ git+https://github.com/cookster9/django-htmx-tictactoe.git@82ccd62f881ebfe1d480ca740d9a5756c65b86af
gunicorn==23.0.0
mod_wsgi==5.0.2
packaging==24.2
pycparser==2.22
pytailwindcss==0.2.0
python-dotenv==1.0.1
sqlparse==0.5.3
typing_extensions==4.12.2
whitenoise==6.8.2
