html { overflow-x: hidden; }

h1 {
    font-size: 1.8rem;
    line-height: 1.1;
}

h2{
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 1em;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    line-height: 1em;
    overflow: clip;
    display: initial;
    margin: 0;
    padding: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

p, em, span, h3 { color: #1f2937; }

a:link, a:active, a:visited {color: #e6edfc;}

color-link-active { color: #309AFD; }

a {
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.color-primary{
    color: #e6edfc;
}

.color-accent{
    color: #fc926f;
}

.color-text{
    color: #1f2937
}

label{
    text-overflow: ellipsis;
}

.top-background{
    background-color: #202536;
}

.top-content{
    height: auto;
    padding: 5px 50px;
    color: #e6edfc;
}

.top-content p,h3{
    color: #e6edfc;
}

/* header */

header{
    position: sticky;
	top: 0px;
	z-index: 4000;
}


.header-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px 35px;
}

.header-span{
    margin: 2px 0px;
    display: inline-block;
    white-space:pre;
}

.header-label{
    min-width: 60vw;
    flex:2;
    display: flex;
    align-items: center;
    justify-content: start;
}

.header-links{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: auto;
    min-width: 30vw;
    flex:1;
    transition-duration: 5s;
}

.header-links a{
    text-align:center;
    flex: 1
}

.header-link{
    margin: auto;
    padding: 5px 8px;
}

.header-link:hover{
    text-decoration: underline;
    text-decoration-color: white;
}
/* welcome */
.welcome p{
    color: #1f2937
}

.welcome-top-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10vh;
    height: 40vh;
}

.welcome-top-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    min-width: 30vw;
}

.welcome-top-text p{
    padding: 5px;
}

.welcome-top-image{
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    height: 100%;
}

.welcome-top-image img{
    max-width: 100%;
    min-width: 20vw;
    height: auto;
}

.welcome-job-grid{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
    gap: 10px;
    padding: 50px 100px;
    grid-template-columns: repeat(2, 1fr);
}

.welcome-job-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 95%;
    border: 1px solid black;
    border-radius: 5px;
    transition: 1s;
    padding: 5px;
}

.welcome-job-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.welcome-job-button span {
  pointer-events: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.second-background{
    background-color: #d4d6d9;
}

.second-content{
    display: flex;
    justify-content: center;
}

.other-header{
    margin: 0px;
    font-size: 1.875em;
    padding: 10px 50px;
}

.other-container{
    line-height: 1em;
    padding: 35px 35px;
}

/* map */
.map-container{
    padding: 10px 35px 10px 35px;
}

#map{
    height: 70vh;
    width: 90vw;
}

/* about */

.about p{
    line-height: 1.2em;
}

.sub-header {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    white-space: normal;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.sub-header p{
color: #facea7;
}

.sub-header button{
    border-radius: 0px;
    height: auto;
    width: auto;
    padding: 0px;
    cursor: pointer;
    background-color: #202536;
}

.sub-header img{
    color: white;
    height: 5vh;
    width: 10vh;
}

/* contact */

form{
    display: flex;
    flex-direction: column;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-group div{
    flex: 1;
    display: flex;
}

.form-group label{
    color: #e6edfc;
    justify-content: flex-start;
    width: 100px;
    text-overflow: ellipsis;
}

.form-group input{
    justify-content: flex-end;
}

footer p{
    color: #031842;
}

footer a:link{
    color: #031842;
}
