{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content=" View a map of up to date, recent home sales in Nashville. " name="Description">
    <title>Nashville Recent Home Sales Map</title>
    <link rel="icon" href="{% static 'dashboard/images/house-for-sale.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="{% static 'dashboard/css/base-map.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    {% block adheader %}
    {% endblock %}
</head>
<body>
    <div id="site-header" class="header-row top-background">
        <div class="header-label">
            <header>
                <h1>
                    <a href="/">
                    <span class="color-primary header-span">Nashville Recent </span>
                    <span class="color-primary header-span">Home Sales</span>
                    </a>
                </h1>
            </header>
        </div>
        <div class = "header-links">
            <a href="/"><div class = "header-link" >home</div></a>
            <a href="/about"><div class = "header-link" >about</div></a>
            <a href="/contact"><div class = "header-link" >contact</div></a>
        </div>
    </div>
    {% block content %}
        document.write('Map stuff goes here');
    {% endblock %}
<footer>
    <p>&copy; 2023 Andrew Cook. All rights reserved.</p>
    <a href="https://www.flaticon.com/free-icons/down-arrow" title="down arrow icons">Down arrow icons created by Hexagon075 - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/house-for-sale" title="house for sale icons">House for sale icons created by surang - Flaticon</a>
</footer>
</body>
<script>
function overlayOn(id) {
  document.getElementById(id).style.display = "block";
}
function overlayOff(id) {
  document.getElementById(id).style.display = "none";
}
</script>
{% block mapscript %}
{% endblock %}
</html>
