{% extends "website/base.html" %}
{% load static %}

{% block adheader %}
 <!-- ad code here -->
{% endblock %}

{% block content %}

<div class="second-content">
    <div class="map-container">
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Submit">
        </form>
        <div id="map"></div>
    </div>
</div>
<div class="top-content top-background">
    <div class="sub-header">

        <button onclick = "scrollToElement('topHeader')">
            <img src="{% static 'dashboard/images/arrow-down.png' %}" alt="arrowbutton" border="0" />
        </button>
        <h2 id="topHeader">Nashville Home Sales By Neighborhood</h2>
        <button onclick = "scrollToElement('topHeader')">
            <img src="{% static 'dashboard/images/arrow-down.png' %}" alt="arrowbutton" border="0" />
        </button>

    </div>
    <div class="landing">
    <div class="landing-box">
        <h3>This site shows SINGLE FAMILY homes sold in Nashville in the last 6 weeks.</h3>
        <p>The list shows the 100 most recently sold single family homes.
            Click an address and the map will pan to that location.</p>
        <br>
        <p>The map shows all the single family homes sold in the last 6 weeks.
            The large icons are neighborhoods and the small icons are home sales.</p>
        <br>
        <p>Submit the ID of the neighborhood to update to find more house sales.
        I pull data from davidson-tn-citizen.comper.info and padctn.org.</p>
    </div>
    <div class="landing-box">
        <div class="tableFixHead">

              <table>
                  <tr>
                    <th>Address</th>
                    <th>Price</th>
                    <th>Sale Date</th>
                  </tr>
                  {% for key, value in top100.items %}
                    <tr>
                        <td><button onclick = "centerMapOnPost({{value.lat}},{{value.long}})" > {{value.address}} </button></td>
                        <td>{{value.sale_price}}</td>
                        <td>{{value.sale_date}}</td>
                    </tr>
                  {% endfor %}
              </table>
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
function scrollToElement(id){
    const element=document.getElementById(id);
    element.scrollIntoView({behavior: "smooth"});
}
function centerMapOnPost(house_lat,house_long) {
    map.setView([house_lat,house_long], 16);
}
function toggleNeighborhoodVisibility(obj) {
  if($(obj).is(":checked")){
    //alert("Yes checked"); //when checked
    markerAry[obj.id].addTo(map);
    markerAry[10*obj.id].map(a => a.addTo(map));
  }else{
    //alert("Not checked"); //when not checked
    markerAry[obj.id].remove();
    markerAry[10*obj.id].map(a => a.remove());
  }
}

const iconUrlAry = ['https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-black.png'
,'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png'
,'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-yellow.png'
,'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png'
,'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-grey.png'
,'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-orange.png'
,'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png'
,'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-violet.png'];

const iconAry = [];

iconUrlAry.forEach((url) => {
    var icon = new L.Icon({
          iconUrl: url,
          shadowUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-shadow.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });
    iconAry.push(icon);
});

var iconHover = new L.Icon({
  iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-gold.png',
  shadowUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-shadow.png',
  iconSize: [30, 46],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [46, 46]
});

var map = L.map('map').setView([{{nash_lat}}, {{nash_long}}], 13);
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);
var markerAry = {};
var houseAry = {};
{% for key, value in groups.items %}
    var iconItem = iconAry[{{value.icon_num}}];
    var marker{{key}} = L.marker([{{value.lat}}, {{value.long}}], {icon: iconItem}).addTo(map);
    markerAry[{{key}}]=marker{{key}};
    var array{{key}} = new Array();
    markerAry[10*{{key}}]=array{{key}};
    marker{{key}}.on('mouseover', function()
        {
            marker{{key}}.setIcon(iconHover);
            array{{key}}.map(a => a.setStyle({fillColor: 'yellow', radius: 40}));
        });
    marker{{key}}.on('mouseout', function()
        {
            marker{{key}}.setIcon(iconItem);
            array{{key}}.map(a => a.setStyle({fillColor: 'blue', radius: 30}));
        });
    marker{{key}}.bindTooltip("{{value.name}}");
    var table_html = '';
    table_html = '{{value.name}} (ID: {{key}} Last Updated: {{value.last_updated}})<br><table><tr><th>Address</th><th>Sale Date</th><th>Sale Price</th><th>Sq Ft</th></tr>';
    {% for house_dict in value.house_list %}
        var circle{{house_dict.reis_id}} = L.circle([{{house_dict.lat}}, {{house_dict.long}}], {
                color: 'blue',
                fillOpacity: 0.5,
                radius: 30, weight: 2,
                title: '{{house_dict.address}}'
            })
            .bindPopup(
            "{{house_dict.address}}<br>{{house_dict.sale_date}}<br>{{house_dict.sale_price}}<br>{{value.name}}")
            .bindTooltip('{{house_dict.address}}')
            .addTo(map);
        array{{key}}.push(circle{{house_dict.reis_id}});
        table_html = table_html + '<tr><td>'+'{{house_dict.address}}'+'</td><td>'+'{{house_dict.sale_date}}'+'</td><td>'+'{{house_dict.sale_price}}'+'</td><td>'+'{{house_dict.square_footage}}'+'</td></tr>'
    {% endfor %}
    table_html = table_html+'</table>';
    marker{{key}}.bindPopup(table_html, {offset: [0, 0]});

{% endfor %}
</script>


{% endblock %}